<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %> 
<body>
   <%- include('../partials/nav.ejs') %> 

    <h2>Welcome to the Home of the Tigers</h2>

    <%- include('../partials/footer.ejs') %> 
</body>
</html>