<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GIHS | Teacher</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="/style.css">
    </head> 
<body>
    <%- include('../partials/nav.ejs') %> 

    <h3>Student Information</h3>
    <h4>Please contact your assigned teacher for additional instructions</h4>
    <ul>
           <% teachers.forEach(function(teach){ %>
            <table class= teacher>
               <tr>
                    <th>Teacher</th><th>Grade Level Assignment</th>
               </tr> 
                <p>
                    <td><%= teach.teacher %></td><td><%= teach.schoolYear %></td>
                </p>
                    
            </table>

          <% }); %> 
    </ul>
    <%- include('../partials/footer.ejs') %> 
</body>
    
</html>