header{
   background-image: url("https://i.imgur.com/ELjlhRZ.png"); 
   background-repeat: no-repeat;
   margin-bottom: 40px;
   padding-bottom: 150px;
   padding-top: 40px;
   background-color: black;
   font-family: 'Nerko One', cursive;
}
nav{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 20px;
  
}

h1{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font-variant-caps: small-caps;
    font-size: 50px;
    color: orange;
    padding-top: 160px; 
     
    
}
body{
   background-color: orange;
   
   font-family: 'Open Sans Condensed', sans-serif;
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid gray;
}
h2{
    font-family: 'Open Sans Condensed', sans-serif;                                                       
}